body {
    background-color: rgb(19, 17, 17);
}

.container {
    border: solid 2px green;
    display: flex;
    padding: 5px;

}

.item {
    border: solid 2px rgb(183, 33, 173);
    margin: 5px;
    padding: 5px;
    font-size: larger;
    flex-flow: wrap;
    max-height: fit-content;
    max-width: 100%;
    box-shadow: 2px rgba(0, 0, 0, 0.466);
    border-radius: 20px 0 0 0;
}

.justify {
    display: flex;
    border: 2px solid rgb(163, 14, 14);
    height: 500;
    width: 500;
    padding: 5px;

}

.cont1 {
    justify-content: space-between;
}

.cont2 {
    justify-content: space-around;
}

.cont3 {
    justify-content: space-evenly;
}

.cont4 {
    justify-content: flex-end;
}

.itum {
    border: 3px solid blue;
    padding: 5px;
    align-self: center;
    border-radius: 20px;
    margin: 5px;
}

.headingcont {
    display: flex;
    color: rgb(138, 142, 146);
    /* background-color: rgb(26, 26, 30); */
    padding: 5px;

}

.headingcont2 {
    display: flex;
    color: rgb(138, 142, 146);
    /* background-color: rgb(26, 26, 30); */
    /* padding: 5px; */

}

.heading {
    border: 3px solid rgb(30, 30, 50);
    padding: 0px 50px 0px 50px;
    /* padding-left: 20px; */
    align-self: center;
    margin: 5px;
}

.heading2 {
    border: 3px solid rgb(30, 30, 50);
    padding: 0px 50px 0px 50px;
    /* padding-left: 20px; */
    align-self: center;
    /* margin: 5px; */
}

.space-between {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-flow: row no-wrap;
}

.column {
    background-color: rgb(206, 206, 206);
    border: 3px solid rgb(108, 112, 112);
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    height: 500px;
    width: 500px;
}

.midColumn {
    margin-top: 25px;
    background-color: rgb(137, 139, 143);
    border: 3px solid rgb(108, 112, 112);
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    height: 450px;
    width: 300px;
}

.botColumn {
    margin-top: 5px;
    background-color: rgb(137, 139, 143);
    border: 3px solid rgb(108, 112, 112);
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    height: 400px;
    width: 400px;
}